/** test comment **/

*{
    box-sizing: border-box;
}
body{
  position:relative;
  background-color:lightgrey;  
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  padding: 0;
}

.wrapper{
  width:90%;
  margin:0 auto;
  background-color: #ffff;
}

h2{
  font-family: 'Dancing Script', cursive;
  color:#005baf;
  margin-left:1em;
  font-size:2em;
  font-weight:bold;  
}
h1{
  font-family: 'Volkhov', serif;
  margin-left:1em;
  font-size:3em;
}
p{
  margin:1em;
  font-size:1.2em;
}

/* Header Grid*/
header{
  display:grid;
  grid-template-columns:300px 300px 200px 205px;
  grid-template-rows:100px 600px;   
  background:linear-gradient( to right, #e55d87, #5fc3e4);
}
.Theader {
  grid-row:1/2;
  grid-column:2/4; 
  
}

.Lheader{
  grid-row:2/3;
  grid-column:1/3; 

}

.Rheader-button{
  grid-row:1/2;
  grid-column:4/6;

}
.Rheader{
  grid-row:2/3;
  grid-column:3/6;

}

/*logo*/
.Theader-logo{
  grid-row:1/2;
  grid-column:1/2;
  
}

.brand{ 
  width:75px;
  height: 75px;
  cursor:grab;
  z-index: 10;

}

.nav{
  display:flex;
  flex-flow: row wrap;
  justify-content:space-between;
  list-style:none;
  
}

button{
  color:white;
  background:linear-gradient( to top, #e55d87, #5fc3e4);
  padding:1em;
  margin-left:2em;
  border-radius:20px;
  font-size: 1em;
  margin-top:0.5em;
}
/* Image Grid*/
.grid{
  display:grid;
  grid-template-columns: 20px 50px 100px 150px 140px 80px 50px;
  grid-template-rows: 20px 80px 100px 150px 100px 100px;
}
.Limage{
  grid-column:2/4;
  grid-row:5/7;
  order:1;
  
}
.Mimage{
  grid-column:3/7;
  grid-row:3/6;
  order:-3;
 
}
.Rimage{
  grid-column:6/8;
  grid-row:2/4;
  order:2;

}
.img-grid{
  display:block;
  width:100%;
  height:100%;
  border-radius:20px;

}

/*Gallery*/
.image-gallery{
  display:none;
  max-height:600px;
 
}

.active{display:block;
}

.gallery{
  width:100%;
  margin-top: 1em;
  display:flex;
  justify-content: center;
  align-items: center;

}
.gallery p{
  text-align:center;

}
.btns{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  color:#df2963;
}

.button{
  cursor: pointer;
}

.button:disabled{
  cursor:not-allowed;
  color:#0000;
}
/*using swipper*/
.swiper-slide {
  text-align: center;
}

.gallery-p{
  margin:0.5em 0 0 1em;
  padding-bottom:1em;
  font-size:2.5em;
}

